*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(87, 87, 87);
    }

    button{
        background: linear-gradient(rgb(9, 8, 10),rgb(119, 12, 12)) ;
        color: rgb(255, 255, 255);
        text-decoration: none;
        border: 1px solid transparent;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 10px;
        transition: .4s;
    }
    button:hover{
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    